.btn-rounded{
    background: #F2DC0C;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    border-style: none;
    border-radius: 50px;
    min-width: min-content;
    padding: 0.1rem;
    box-shadow: 1px 2px 2px #11111189;
}

button{
    overflow: hidden;
}