
.footer{
    background-color: $azul-oscuro;
    min-height: 25vh;
    padding: 5rem;
    margin-top: 5rem;
    font-family: $primary-font;
}

.footer-nav{
    width: min-content;

    &-a{
    font-size: 1.3rem;
    font-weight: 300;
    display: block;
    margin: 1rem;
    color: #fff;
        
        &:hover{
        transform: scale(1.1);
        transition: 300ms;
        color: #F2DC0C;
        font-weight: 500;
    }
    }  
}