
.hero{
    background: linear-gradient(180deg, #1b20ab 0%, #262efb 98%);
    color: #fff;
    font-family: "Ubuntu", sans-serif;    
    &-text{
        font-size: 2rem;
        font-weight: 400;
        font-family: 'Ubuntu', sans-serif;
    }

    &-paragraph{
        font-size: 1rem;
        font-weight: 200;
        font-family: "Ubuntu", sans-serif;
    }

    &-text-container{
        display: flex;
        flex-direction: column;    
        justify-content: space-evenly;
        padding: 1rem;
    }

    &-btn{
        width: 30%;
        align-self: center;
    }
}