/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    @media (max-width: 768px) {
        font-size: 13px;
        }
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    height: min-content;
}

main {
    padding: 1rem;
}

/* Fin CSS Reset */

/* Importación de fuentes Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* Fin de importación de fuentes Google Fonts */

.title {
    margin-bottom: 50px;
    text-transform: uppercase;
}

.btn-primary {
    margin-top: auto;
}

.section-header{
    font-family: "Ubuntu", sans-serif;
    font-size: 1.7rem;
    font-weight: 800;
    color: #262efb;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: -2rem;
}

.autoridades{
    font-family: $primary-font;
    text-align: center;

    &-cargo{
        font-size: 1.3rem;
    }

    &-nombre{
        font-size: 1.1rem;
        font-weight: 300;
    }
}
